{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
       body{
           background-image: linear-gradient(to right, #000055 , #a2f0ff);
       }
       .container{
           background: #f8f9fa;
           padding: 60px;
           width: 40%;
       }
       .max_sizer{
           overflow: hidden;
           max-height: 500px;
           margin-top: 20px;
       }
       #id_name{
           padding-bottom: 5px;
           width: 80%;
       }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="col-12">
                <h1>Weather Finder</h1>
                <p>Find out the weather forecast for any city</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.name }}
                    <input type="submit" name="send" value="Get Weather" class=" btn btn-danger">
                </form>
            </div>

       <div class="col-12 max_sizer">
                {% for info in all_info %}
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-9">
                            <b>City:</b> {{ info.city }}<br>
                            <b>Temperature:</b>{{ info.temp }}<sup>0</sup>
                        </div>
                        <div class="col-2 offset-1">
                            <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="photo" class="img-thumbnail">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</body>
</html>
